*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}